.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.about__block {
    max-width: 600px;
    padding-top: 50px;
    font-size: calc(17px + 0.390625vw);
}

.about > img {
    max-width: 500px;
    max-height: 500px;
}