* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

strong {
    color: rgb(179, 5, 97);
}

.nav,
.footer,
.tour__card,
.tour__list,
.tour__list-block,
.feedback,
.main__div {
    width: 100%;
}

.nav,
.footer,
.tour__card,
.tour__list,
.tour__list-block,
.feedback,
.main__inf__block {
    max-width: 1100px;
    margin: 0 auto;
}

.nav,
.footer,
.tour__card,
.tour__more,
.tour__card__but,
.tour__card__inf,
.tour__button,
.feedback__block,
.feedback__inf,
.main__div__blocks,
.main__inf__text {
    display: flex;
}

h2 {
    font-size: 20px;
}

.nav {
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
}

.main__div,
.main__inf__block {
    position: relative;
}

.footer {
    padding: 50px 0 50px 0;
    justify-content: space-between;
}