* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.nav,
.footer,
.tour__card,
.tour__list,
.tour__list-block,
.feedback,
.main__div {
    width: 100%;
}

.nav,
.footer,
.tour__card,
.tour__list,
.tour__list-block,
.feedback,
.main__search,
.about {
    max-width: 1100px;
    margin: 0 auto;
}

.nav,
.footer,
.tour__card,
.tour__more,
.tour__card__but,
.tour__card__inf,
.tour__button,
.feedback__block,
.feedback__inf,
.main__form,
.main__form > div {
    display: flex;
}

h2 {
    font-size: 20px;
}

button {
    text-transform: uppercase;
}

.nav {
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
}

.header__h2 {
    font: italic 25px 'Montserrat', sans-serif;
    text-align: center;
    color: color(srgb 0.1616 0.6803 0.9113);
    margin-bottom: 20px;
}

.main__div {
    position: relative;
}

.footer {
    padding: 50px 0 50px 0;
    justify-content: space-between;
}