.footer,
.footer__contact {
    display: flex;
}

.footer {
    width: 100%;
    padding-top: 50px;
    justify-content: space-between;
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.footer__link {
    font-size: 15px;
}

.footer__contact {
    flex-direction: column;
    align-items: flex-end;
}

.footer__contact > a {
    margin-bottom: 20px;
}