.feedback {
    max-width: 1100px;
    margin-bottom: 50px;
}

.feedback__slider {
    padding: 30px 20px;
}

.feedback__text {
    display: block;
    font-size: calc(11px + 0.390625vw);
    overflow: hidden;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    line-clamp: 10;
    text-overflow: ellipsis;
}

.feedback__block {
    max-width: 360px;
    height: 360px;
    width: 100%;
    padding: 30px;
    border: 1px solid black;
    border-radius: 20px;
}

.feedback__inf {
    flex-direction: column;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: black !important;
}