.swiper {
    z-index: 1;
}

.slider {
    width: 100%;
    min-height: 600px;
    position: relative;
    justify-content: center;
}

.slider__img {
    width: 100%;
    box-sizing: border-box;
}

.slider__img,
.slider__img > img {
    max-height: 600px;
}

.slider__img > img {
    width: 100%;
    object-fit: cover;
}